.idea/

# Compiled binaries
bin/
out/

# CMake build directory
cmake-build-debug/
cmake-build-release/

# Compiled object files
*.o
*.obj

# Compiled libraries
*.lib
*.a
*.dll
*.so

# Executables
*.exe
*.out

# macOS specific files
.DS_Store

# Visual Studio Code settings
.vscode/

# Eclipse settings
.settings/
.classpath
.project

# User-specific files
*.iml
*.ipr
*.iws
.idea/

